@import "base.css";

main {
    position: absolute;
    top: 9rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hint {
    font-weight: 200;
    color: var(--white-gray);
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    overflow: hidden;
    border-right: .15em solid var(--white-gray);
    white-space: nowrap;
    animation: typing-hint 2s steps(30) forwards,
        cursor-hint .4s infinite;
}

@keyframes typing-hint {
    from { width: 0 }
    to { width: 100% }
}

@keyframes cursor-hint {
    50% {
        border-color: transparent;
    }
}

#answer-form {
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#answer-form #answer {
    height: 4rem;
    width: 20rem;
    padding: 10px;
    margin: 20px;
    font-size: 1.8rem;
    background-color: #c0c0c0;
    color: rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 4px inset rgba(0, 0, 0, 0.5);
    border-style: none;
    border-radius: 10px;
}

#answer-form #answer:focus {
    border-style: solid;
    border-width: none;
    border-color: white;
    outline: 0;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
}

#answer-form #submit-button {
    background-color: #c0c0c0;
    color: rgba(0, 0, 0, 0.9);
    height: 60px;
    width: 100px;
    padding: 10px;
    font-size: 1.5rem;
    border-style: none;
    border-radius: 10px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
}

#answer-form #submit-button:active {
    transform: translate(3px, 3px);
}

#answer-form input {
    margin: 0 4rem;
}

#hint_text, #correct_answer  {
    display: none;
}

#wrong_msg {
    position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translate(-50%);
    font-size: 2rem;
    font-weight: 200;
    color: rgb(205, 7, 7);
}