@import "base.css";

.reload-button {
    position: absolute;
    right: 12rem;
}

.reload-button img {
    width: 27px;
    height: 27px;
}

main {
    position: absolute;
    top: 16rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title, #hint {
    font-weight: 200;
    color: var(--white-gray);
    text-align: center;
}

#title {
    font-size: 3rem;
}

#hint {
    font-size: 2rem;
    margin: 4rem 0;
    overflow: hidden;
    border-right: .15em solid var(--white-gray);
    white-space: nowrap;
    animation: typing-hint 2s steps(30) forwards,
        cursor-hint .4s infinite;
}

@keyframes typing-hint {
    from { width: 0 }
    to { width: 100% }
}

@keyframes cursor-hint {
    50% {
        border-color: transparent;
    }
}

#answer-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#answer-form #answer {
    background-color: #c0c0c0;
    color: rgba(0, 0, 0, 0.9);
    height: 3rem;
    width: 15rem;
    padding: 10px;
    font-size: 1.5rem;
    border-style: none;
    border-radius: 10px;
}

#answer-form #answer:focus {
    border-style: solid;
    border-width: none;
    border-color: white;
    outline: 0;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

#answer-form #submit-button {
    background-color: #c0c0c0;
    color: rgba(0, 0, 0, 0.9);
    height: 60px;
    width: 100px;
    padding: 10px;
    font-size: 1.5rem;
    border-style: none;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

#answer-form #submit-button:active {
    color: rgba(67, 65, 65, 0.2);
    transform: translate(3px, 3px);
}