@import "base.css";

#title, #subtitle {
    text-align: center;
    letter-spacing: 1.6px;
    color: var(--white-gray);
}

#menu {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 5rem;
    font-weight: 200;
    padding: 2rem 0 0 0;
    margin: 6rem 0 0 0;
}

#subtitle {
    font-size: 2.6rem;
    font-weight: 200;
    padding: 1rem;
}

#start-button {
    text-decoration: none;
    font-family: var(--jaro);
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 1.6px;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 4rem 0;
    background-color: var(--light-swamp-gray);
    color: rgba(26, 25, 25, 1);
}

#start-button:hover,
#start-button:active {
    color: black;
}