{% extends "base.html" %}
{% load static %}

{% block title %} Let's play {% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "game/css/game_page.css" %}">
{% endblock css_files %}

{% block content %}
    <main>
        <h1 id="title">HINT</h1>
        <h3 id="hint">{{hint | upper}}</h3>
    </main>
    <form action="{% url "validate_answer" %}" id="answer-form" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" id="submit-button" value="submit">
    </form>
{% endblock content %}