{% extends "base.html" %}
{% load static %}

{% block title %} Let's play {% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "game/css/game_page.css" %}">
{% endblock css_files %}

{% block content %}
    <main>
        <h1 id="hint">HINT -> {{hint}}</h1>
    </main>
    <form action="{% url "play_page" %}" id="answer-form" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" id="submit-button" value="submit">
    </form>
    {% if wrong_answer %}
        <span id="wrong_msg">Wrong answer :(</span>
    {% endif %}
{% endblock content %}